.subscription-window {
    position: relative; 
  }
  
  .logo {
    position: absolute; /* Position the logo absolutely */
    top: 20px; /* Distance from the top */
    left: 720px; /* Distance from the left */
    width: 225px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    z-index: 100; /* Set z-index to ensure it's above other content */
  }
  
  