.subscription-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050505; /* Set background color of the entire window */
  }
  
  .subscription-container {
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding inside the container */
  }
  
  .subscription-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin between subscription items */
  }
  
  .subscription-image {
    width: 100px; /* Adjust image*/
    height: auto; 
    margin-right: 20px; /* Add margin between image and details */
  }
  
  .subscription-details {
    flex: 1; /* Take remaining space */
    font-size: 14px;
  }
  
  .cancel-button {
    padding: 10px 20px; /* Add padding to the button */
    background-color: #ff6347; /* Set background color of the button */
    color: rgb(17, 2, 2); /* Set text color of the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .cancel-button:hover {
    background-color: #ff4838; /* Darker color on hover */
  }
  